<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banner Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/saved_banners.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/selected_banner.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/banner_form_style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='manager.js') }}"></script>
</head>

<body>
  <div class="header-bar flex row">
    <img class="bannerman-img" id="bannerman-left" src="{{ url_for('static', filename='images/bannerman-small.png') }}"
      alt="">
    <h1>Mount&Blade Banner Manager</h1>
    <img class="bannerman-img" id="bannerman-right" src="{{ url_for('static', filename='images/bannerman-small.png') }}"
      alt="">
  </div>
  {% block content %}{% endblock %}
</body>

</html>