{% extends 'base.html' %}

{% block content %}
<div class="main-content-section">

  <div class="content-items-headers flex row">

    <div class="saved-banners-item flex center">
      <h2>Banners</h2>
      <div class="flex row center">
        <img hidden class="display-by-faction-img" src="{{ url_for('static', filename='faction_images/None.jpg') }}">
        <select name="faction-selection" id="by-faction-selection">
          <option value="7">All</option>
          <option value="6">None</option>
          <option value="0">Vlandia</option>
          <option value="1">Battania</option>
          <option value="2">Sturgia</option>
          <option value="3">Empire</option>
          <option value="4">Aserai</option>
          <option value="5">Khuzait</option>
        </select>
      </div>
    </div>

    <div class="selected-banner-item flex center row">
      <img class="banner-faction-img" src="{{ url_for('static', filename='faction_images/None.jpg') }}">
      <h2 id="selected-banner-name">Banner Name Here</h2>
    </div>

    <div class="post-banner-item flex center row">
      <h2>New Banner</h2>
    </div>

  </div>

  <div class="content-items-contents flex row">

    <div class="saved-banners-item">
      <div class="banner-list"></div>
    </div>

    <div class="selected-banner-item selected-banner-content">

      <img class="selected-banner" src="">

      <div class="banner-code" id="display-banner-code">
        <textarea readonly class="code-area" placeholder="Banner code here..."></textarea>
        <button class="copy-code">Copy Code</button>
      </div>

      <div class="banner-credits flex">
        <i id="selected-banner-creator"><span>Creator: &nbsp;</span></i>
      </div>
    </div>

    <!-- New banner -->
    <div class="post-banner-item flex column">

      <!-- Form action messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="message-bar">
        {% for category, message in messages %}
        <div class="message-flash flex center {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <!-- New banner form -->
      <form autocomplete="off" action="/add_banner" method="post" enctype="multipart/form-data">

        <div class="form-field flex column">
          <label for="banner-name">Banner Name</label>
          <input required type="text" name="banner-name">
        </div>

        <div class="form-field flex column">
          <label for="banner-code">Banner Code</label>
          <input required type="text" name="banner-code">
        </div>

        <div class="form-field">
          <label for="banner-faction">Faction</label>
          <select name="banner-faction">
            <option value="None">None</option>
            <option value="Vlandia">Vlandia</option>
            <option value="Battania">Battania</option>
            <option value="Sturgia">Sturgia</option>
            <option value="Aserai">Aserai</option>
            <option value="Empire">Empire</option>
            <option value="Khuzait">Khuzait</option>
          </select>
        </div>

        <div class="form-field flex column">
          <label for="banner-file-url">Image Url</label>
          <input required type="text" name="banner-file-url">
        </div>

        <div class="form-field flex column">
          <label for="credits">Creator</label>
          <input type="text" name="banner-creator">
        </div>

        <div class="form-field">
          <input type="submit" value="Send">
        </div>

      </form>

    </div>

  </div>
</div>
<div class="footer flex center">
  <span>&copy; Copyright 2020 by <a href="http://domain.invalid/">you</a>.</span>
</div>
{% endblock %}